<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Favorites.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Favorites.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Favorites.Properties.Settings>
            <setting name="App_PathReadMe" serializeAs="String">
                <value>https://github.com/aduguid/MicrosoftExcelFavorites/blob/master/README.md</value>
            </setting>
            <setting name="App_PathReportIssue" serializeAs="String">
                <value>https://github.com/aduguid/MicrosoftExcelFavorites/issues/new</value>
            </setting>
            <setting name="App_ReleaseDate" serializeAs="String">
                <value>07/31/2017 13:05:00</value>
            </setting>
            <setting name="App_PathLocalData" serializeAs="String">
                <value />
            </setting>
            <setting name="App_PathDeployData" serializeAs="String">
                <value />
            </setting>
        </Favorites.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Favorites.Properties.Settings>
            <setting name="App_Author" serializeAs="String">
                <value>Anthony Duguid</value>
            </setting>
        </Favorites.Properties.Settings>
    </applicationSettings>
</configuration>